.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 435px;
    margin-right: 820px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
  }
  
  .toggle-label::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #ffeb00; /* color when on */
  }
  
  .toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
  }